  
{% extends 'bootstrap/base.html' %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/viewer_script.js')}}"></script>
{% endblock %}

{% block title %}
    GemView
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">GemView</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Login</a></li>
                </ul>                
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% block app_content %}

    {% endblock %}
{% endblock %}

