
{% extends "base.html" %}


{% block app_content %}
<div class="container">
    <div class="row">
      <div class="col-md-9">
            <img src="{{ url_for('video_feed') }}", width="800", height="500">
      </div>
      <div class="col-md-3">
        <div class="container">   
            <div class="row"> 
                    <h2>Image Data</h2>
            </div>
            <div class = "row">
                    <div><b id="clock"></b></div>
            </div>
            <div class = "row">
              <button id="getFrameButton">Get Frame</button>
            </div>
            <div class = "row">
              <button id="runCycleButton">Cycle Actuator</button>
            </div>
            <div class = "row">
              <image id="storedImage" src="/static/output.jpg" width = "300" height="200"></image>
            </div>
        </div>
      </div>    
    </div>
</div>

    
{% endblock %}
