
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/viewer_script.js')}}"></script>
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
      <div class="col-md-9">
            <img src="{{ url_for('video_feed') }}", width="612", height="384">
      </div>
      <div class="col-md-3">
        <div class="container">   
            <div class="row"> 
                    <h2>Info</h2>
            </div>
            <hr>
            <div class = "row">
                    <div><b id="clock"></b></div>
            </div>
            <hr>
            <div class = "row">
              <button id="getFrameButton" type="button" class="btn btn-default btn-lg">Get Frame</button>
            </div>
            <hr>
            <div class = "row">
              <button id="runCycleButton" type="button" class="btn btn-default btn-lg">Cycle Actuator</button>
            </div>
            <div class = "row">
              <button id="stepPlusButton" type="button" class="btn btn-default btn-lg">+ve step</button>
            </div> 
            <div class = "row">
              <button id="stepMinusButton" type="button" class="btn btn-default btn-lg">-ve step</button>
            </div> 
            <div class = "row">
              <button id="stepHomeButton" type="button" class="btn btn-default btn-lg">Home</button>
            </div>   
            <div class = "row">
              <b id = "countLabel"> Stepper counts = 0</b>
            </div>           
            <hr>
            <div class = "row">
              <button id="runProcessingButton" type="button" class="btn btn-default btn-lg ml-auto">Process Images</button>
            </div>
            

            <hr>
            <div class = "row">
              <image id="storedImage" src="/static/output.jpg" width = "300" height="300"></image>
            </div>
        </div>
      </div>    
    </div>
</div>

    
{% endblock %}
